<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <div style="align-items: center;">
      <h3 style="text-align: center;" href="">Magnus</h3>
  </div>
  <div>
      <div id="guestUser">
          <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png" alt="person" width="40" 
          height="40" >
          <div>
              <p>Guest User</p>
              <p>User</p>
          </div>
      </div>
  </div>

  <a href="/home" class="w3-bar-item w3-button">Home</a>
  <div class="w3-dropdown-hover">
      <button class="w3-button">Employee
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="w3-dropdown-content w3-bar-block">
          <a href="/createUser" class="w3-bar-item w3-button">Create</a>
          <a href="/searchUser" class="w3-bar-item w3-button">Search</a>
      </div>
  </div> 
  
  <div class="w3-dropdown-hover">
      <button class="w3-button">More
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="w3-dropdown-content w3-bar-block">
          <a href="/more/multipleTabs" class="w3-bar-item w3-button">Multiple Tabs</a>
          <a href="/more/menus" class="w3-bar-item w3-button">Menu</a>
          <a href="/more/autoComplete" class="w3-bar-item w3-button">Autocomplete</a>
          <a href="/more/collapse" class="w3-bar-item w3-button">Collapse Content</a>
          <a href="/more/uploadImage" class="w3-bar-item w3-button">Images</a>
          <a href="/more/slider" class="w3-bar-item w3-button">Slider</a>
          <a href="/more/tooltips" class="w3-bar-item w3-button">Tooltips</a>
          <a href="/more/popups" class="w3-bar-item w3-button">Popups</a>
          <a href="/more/links" class="w3-bar-item w3-button">Links</a>
          <a href="/more/cssProperties" class="w3-bar-item w3-button">CSS Properties</a>
          <a href="/more/iFrames" class="w3-bar-item w3-button">iFrames</a>
      </div>
      
  </div> 
  <div class="w3-dropdown-hover">
      <button class="w3-button">Settings
          <i class="fa fa-caret-down"></i>
      </button>
  </div> 
  </div>